p {
    font-size: 14px;
    &.lead {
        font-size: 18px;
    }
}

a {
    text-decoration: none;
    color: $primaryColor;
    &:hover {
        text-decoration: underline;
    }
}

.text-bold {
    font-weight: bold;
}